.env*
!*.default

build/

node_modules/

src/contracts.json

.vscode/*
!.vscode/settings.json.default

public/index.html
public/pwa/
public/robots.txt

.yalc/
yalc.lock

.svelte/
functions/
src/lib/contracts.json
.env
static/pwa/
.vscode/*
!.vscode/*.default
src/app.html
static/robots.txt
